
    <h1> <%= physicianName %> </h1>
    <br>
    <h2> <%= physicianEmail %> </h2>

    <table>
        <tr>
          <th> # </th>
          <th>Name</th>
          <th>Time</th>
          <th>Kind</th>
        </tr>
        <% let counter = 0 %>
        <% for (var key2 in physician['patients']) { %> 
            <tr>
               <td> <%= counter += 1 %> </td>
               <td> <%= key2 %> </td>
               <td> <%= physician['patients'][key2]["time"] %> </td>
               <td> <%= physician['patients'][key2]["kind"] %> </td>
            </tr>
        <% } %>
    </table>
